* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'WindowsFont', sans-serif;
    /* outline: 1px solid red; */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
    background: 
        repeating-linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3) 1px,
            transparent 1px,
            transparent 3px
        );
    mix-blend-mode: overlay;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: 
        repeating-linear-gradient(
            90deg,
            rgba(255, 0, 0, 0.1),
            rgba(0, 255, 0, 0.1) 50%,
            rgba(0, 0, 255, 0.1) 100%
        );
    opacity: 0.2;
    mix-blend-mode: color-dodge;
    pointer-events: none;
    z-index: 9999;
}

@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% { opacity: 1; }
    20%, 24%, 55% { opacity: 0.8; }
}

body::before {
    animation: flicker 5s infinite;
}

#taskbar {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #c0c0c0;
    border-top: #fafafa solid 2px;
    z-index: 100;
    user-select: none;
}

#window-buttons {
    display: flex;
}

#left-buttons {
    display: flex;
}

.taskbar-buttons {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #c0c0c0;
    width: 100%;
    height: 100%;
    margin: 1px;
    padding: 0px 3px 0px 3px;
    border-color: #dddddd;
}

#time {
    border: inset;
    border-color: #dddddd;
    margin: 1px;
}

#start-button {
    max-width: 80px;
}

#start-button {
    box-sizing: border-box;
    border-color: #dddddd;
}


.active, .taskbar-buttons button.active {
    border-style: inset;
}

#start-button:hover {
    border-color: #acacac;
}

.draggable-button {
    /* cursor: move; */
    position: absolute;
}


.desktop-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: none;
    padding: 4px 10px 4px 10px;
    min-width: 68px;
    user-select: none;
}

.desktop-icons:hover, .desktop-icons:focus {
    background-color: #f0f0f01e;
    border: 1px solid #c0c0c033;
    padding: 3px 9px 3px 9px;
}

.desktop-icon-text {
    color: rgba(255, 255, 255, 0.884);
    text-align: center;
}


#start-menu, #right-click-menu, #right-click-icon-menu {
    display: none;
    flex-direction: column;
    background-color: #c0c0c0;
    margin: auto;
    position: absolute;
    z-index: 90;
    filter: drop-shadow(2px 2px 2px #5a5a5a);}

#start-menu {
    bottom: 38px;
}

#start-menu.show, #right-click-menu.show, #right-click-icon-menu.show {
    display: flex;
}

.minimized {
    display: none;
}

#start-menu button, #right-click-menu button, #right-click-icon-menu button {
    margin: 0;
    background-color: #c0c0c0;
    border: none;
    padding: 10px 30px 10px 20px;
}

#start-menu button:hover, #right-click-menu button:hover {
    background-color: #000080;
    color: whitesmoke;
}

.window {
    /* display: none; */
    background-color: #a1a1a1;
    /* width: 800px;
    height: 600px; */
    border-style: outset;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-bar {
    display: flex;
    width: 100%;
    color: whitesmoke;
    justify-content: space-between;
    background-image: linear-gradient(to right, #000080, #1085d2);
}

.top-bar-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar-right button {
    min-width: 21px;
    height: 20px;
    background-color: #c0c0c0;
    text-align: center; 
} 

.top-bar-right button:last-child {
    margin-right: 2px;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    /* opacity: 0.5; */
    z-index: 1000;
    animation: fade-in 0.5s ease-in;
}

@keyframes fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fade-out {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@font-face {
    font-family: 'WindowsFont';
    src: url(fonts/W95FA.otf);
}